* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

header {
  padding: 20px 0;
  background-color: #333333;
}

header .container {
  display: flex;
  justify-content: space-between;
}

header .container ul li {
  display: inline-block;
  margin: 0 5px;
}

header .container ul li a {
  color: white;
  text-decoration: none;
}

header .container ul li a:hover {
  border-bottom: 2px solid #b99470;
}

.logo {
  width: 200px;
  display: flex;
  align-items: center;
}

.logo img {
  width: 100%;
}

h2 {
  color: #333;
  background-color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  padding: 10px;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-size: 2rem;
}

h2:after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  margin: 22px auto 0 auto;
  background: #b99470;
}

#newCustomer header {
  background: url(https://github.com/cellou59/hotel-js/blob/main/img/Lille-Seminaires.jpg?raw=true) center center;
  text-align: center;
  padding: 65px 0;
}
#outCustomer header {
  background: url(https://github.com/cellou59/hotel-js/blob/main/img/Lille-Hall.jpg?raw=true) bottom right;
  text-align: center;
  padding: 65px 0;
}

.section-content {
  padding: 40px 0;
}

form {
  background: #1c1c1c;
  color: #fff;
}

.booking-form-wrapper,
.search-form-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 30px 0;
}

@media screen and (max-width: 767px) {
  .booking-form-wrapper,
  .search-form-wrapper {
    flex-direction: column;
    padding: 10px 30px;
  }
}

.form-group {
  flex-basis: 14%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .form-group {
    padding: 10px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form-group {
    flex-basis: 18%;
    flex-grow: 1;
    padding: 10px;
  }
}

.search-form-wrapper .form-group {
  flex-basis: 20%;
}

.form-group label {
  padding-bottom: 5px;
  padding-right: 10px;
}

.form-group input[type="text"],
.form-group input[type="number"] {
  border: none;
  width: 100%;
  padding: 11px 15px;
  font-size: 0.875rem;
  color: #666;
  margin: 0;
  height: 42px;
}

.select-wrapper select {
  width: 100%;
  border: none;
  padding: 10px 15px;
  font-size: 0.875rem;
  height: 42px;
}

.radio-wrapper {
  display: flex;
  align-items: center;
  height: 40px;
}

.btn {
  width: 100%;
  border: none;
  color: #fff;
  background-color: #b99470;
  font-size: 0.875rem;
  padding: 12px 10px;
  cursor: pointer;
}

.facture-client {
  padding: 50px 0;
  background-color: #b99470;
  color: white;
  display: none;
  text-align: center;
}

.facture-client ul {
  display: inline-block;
  padding-inline-start: 0;
}

.visible {
  display: block;
}
